<div id="static-modal" th:fragment="static-modal" class="modal modal-static" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-semibold text-main text-center" style="overflow: hidden;">
                	<div class="col-xs-2" style="margin-top: 7px; margin-left: 15px;">
  						<span style="font-size: 1.5em;">
    						<!--<i class="fas fa-spinner-third fa-spin"></i>-->
    						<i class="fas fa-circle-notch fa-spin"></i>
    					</span>
                	</div>
                	<div class="col-xs-10" style="margin-left: -15px; margin-top: 9px;">
                		<span id="static-modal-text"></span>
                	</div>                    
                </div>
            </div>
        </div>
    </div>
</div>